# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Database
app.db
*.sqlite3

# Flask migrations
migrations/

# Logs
logs/
*.log

# Environment files
*.env
.env.*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
